.main{
    height: 800px;
    width: 100%;
    border: 2px solid red;
}
.fast{
    height: 50px;
    width: 100%;
    background-color: red;
    color: red;
    text-align: center;
}
.second{
    height: 600px;
    width: 100%;
    background-color: yellow;
}
.three{
    height: 100px;
    width: 100%;
    background-color:blue;
}
.fast1{
    height: 50px;
    width: 30%;
    background-color: black;
    float: left;
    font-size: 20px;
}
.fast2{
    height: 50px;
    width: 30%;
    background-color:black;
    float: right;
    font-size: 20px;
}
.second1{
    height: 600px;
    width: 30%;
    background-color: pink;
    float: left;
}
.second2{
    height: 600px;
    width: 30%;
    background-color:chartreuse;
    float: right;
}
.mar{
    height: 50px;
    width: 100%;
    background-color: red;
}
.table{
   height: 600px;
   width: 100%;
   text-align: center;
   color:black;
}

.table2{
    text-align: center;
    color: blue;
}
.mar{
    color: yellow;
    font-size: 30px;
}

